<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Phaser</title>
        <script type="text/javascript", src ="{{ url_for('static', filename='js/phaser.min.js') }}"></script>
        <script type="text/javascript", src ="{{ url_for('static', filename='js/boot.js') }}"></script>
        <script type="text/javascript", src ="{{ url_for('static', filename='js/menu.js') }}"></script>
        <script type="text/javascript", src ="{{ url_for('static', filename='js/play.js') }}"></script>
        <script type="text/javascript", src ="{{ url_for('static', filename='js/preload.js') }}"></script>
        <script type="text/javascript", src ="{{ url_for('static', filename='js/phaser-arcade-physics.min.js') }}"></script>
    </head>
    <body>
    <script type="text/javascript", src = "{{url_for('static', filename='js/gameHandler.js')}}">
    </script>

    </body>
</html>